  
/* body { background-color: rgb(158, 214, 95); } */

body {
    background-color: #001b0e;
    /* background-image: url("/Users/wonjincho/Flatiron/code/js-rails-project/js-rails-project-frontend/image/bg.jpeg"); */
    /* background-image: url("/Users/wonjincho/Flatiron/code/js-rails-project/js-rails-project-frontend/image/dinobg.jpeg"); */
    background-image: url("https://wallpaperaccess.com/full/429863.jpg");
    background-size: auto;
    font-family: monospace;
  }


  #new-dino-btn{
    font-family: monospace;
    cursor: pointer;
    opacity: .9;
    position: relative;
    background-color: #fdc52c;
    /* border: none; */
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: black;
    font-size: 15px;
    font-weight: bold;
    justify-self: center; 
  }

  #new-dino-btn:hover{
    background-color: whitesmoke;
    border: #0f7c00 solid 1px;
    color: #0f7c00;}






 .category-button {
    font-family: monospace;
    cursor: pointer;
    opacity: .9;
    margin: 15px;
    width: 200px;
    background-color: #00912ba6;
    color: black;
    border-radius: 5px; 
    font-size: 18px;
    font-weight: bold;
    }

 .category-button:hover { 
    /* display: inline-block; */
    opacity: .7;
    background-color: whitesmoke;
    border: #0f7c00 solid 1px;
    color: #0f7c00;
}


 .all-dinos {
    font-family: monospace;
    cursor: pointer;
    opacity: .9;
    margin: 15px;
    width: 200px;
    background-color: #00912ba6;
    color: black;
    border-radius: 5px; 
    font-size: 18px;
    font-weight: bold;
 }


button {
    position: relative;
    background-color: #fdc52c;
    border-radius: 5px;
    height: 3rem;
    color: rgb(160, 59, 59);
    font-size: 18px;
    justify-self: center;
    display: inline-block;
    }
    
button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
    display: inline-block;
    }

   .delete-btn{
    height: 2rem;
    background-color: #003152;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 16px;
   }

    .delete-btn:hover {
        background-color: whitesmoke;
        border: #0f7c00 solid 1px;
        color: #0269c9;}
        

.opacity {
    width: 80%; 
    background-color: rgba(3, 172, 240, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    /* justify-content: center; */
}  

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #004b26;
    text-shadow: 1px 2px rgb(87, 105, 124);
    
    /* opacity: .5; */
  }
p {
line-height: 16px;
margin: 8px 0;
}
  #project-header
  {
    display: flex;
    justify-content: center;
    opacity: .8;
    height: 300px;
    padding: 1rem;
  }



  #era-container > div { 
    display: inline-block;
  }


  
  .toy-avatar {
    justify-self: center;
    height: 15rem;
    width: 100%;
  }
  

  .container {
    border: 3px solid;
    border-radius: 5px;
    padding: 1rem;
    display: none;
    background: #00912ba6;
    opacity: .8;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .add-dino-form {
    width: 100%;
    height: 100%;
  } 
  
  .submit {
    position: relative;
    background-color: #fdc52c;
    border-radius: 5px;
    height: 2.6rem;
    width: max-content;
    color: green;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: green solid 1px;
    color: green;
  }
  .close-button {
    position: relative;
    background-color: #fdc52c;
    border-radius: 5px;
    height: 2.6rem;
    width: max-content;
    color: green;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .close-button:hover {
    background-color: whitesmoke;
    border: green solid 1px;
    color: green;
  }
  
  
  .input-text {
    /* background-color: rgb(187, 255, 0); */
    border-radius: 5px;
    height: 2rem;
    width: 70%;
    font-size: 15px;
    font-family: monospace;
    margin: 4px;
    
  }

  .add-dino-form > select{
    /* background-color: rgb(187, 255, 0); */
    border-radius: 5px;
    height: 2.5rem;
    width: 71%;
    margin: 4px;
  }
  

  




/* flip card */

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    padding: .6rem .4rem;
    display: inline-grid;
    /* display: grid; */

  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* perspective: 40rem; */
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* display: flex; */
    /* backface-visibility: hidden; */
    /* min-width: 100%; */
    /* display: flex; */
  }
  
  .flip-card-front {
    background-color: #fdc52c;
    opacity: .9;
    color: black;
  }
  
  .flip-card-back {
    background-color: #003152;
    opacity: .8;
    color: white;
    transform: rotateY(180deg);
    border: white solid 1px;
    /* text-align: ; */
    
    /* height: relative; */
    /* display: flex; */
    backface-visibility: hidden;
    min-width: 100%;
    /* position: absolute; */
    
    
  }
  /* end flip card */




    /* #toy-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #toy-header img {
    height: 6rem;
    width: auto;
  } */

   
  #dino-collection {
    margin: 3rem;
    /* display: none; */

  }
/*   
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 35rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  } */